In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_excel(r'fy10_2.xlsx', engine='openpyxl')

In [5]:
data.rename(columns={list(data)[0]:'ric',list(data)[1]:'comp_name',list(data)[2]:'country',list(data)[3]:'postal_code',list(data)[4]:'curr_rev',list(data)[5]:'2011_rev'}, inplace=True)

In [4]:
data

,ric,comp_name,country,postal_code,curr_rev,2011_rev
0,4921.T,Fancl Corp,Japan,231-8528,1.179299e+09,1.065012e+09
1,6104.T,Shibaura Machine Co Ltd,Japan,410-8510,1.085846e+09,7.992082e+08
2,8051.T,Yamazen Corp,Japan,550-8660,4.391249e+09,2.583030e+09
3,2294.T,Kakiyasu Honten Co Ltd,Japan,511-8555,4.065606e+08,1.938483e+08
4,6744.T,Nohmi Bosai Ltd,Japan,102-8277,1.090803e+09,9.003745e+08
...,...,...,...,...,...,...
2145,5000011466,Japan Nuclear Fuel Ltd,Japan,039-3212,2.462495e+09,9.388173e+08
2146,5000016800,Trans Tokyo Bay Highway Corp,Japan,143-0016,3.338486e+07,1.416456e+07
2147,5000018582,Yanase & Co Ltd,Japan,105-8575,3.677696e+09,3.569191e+09
2148,5036195640,Like Kids Inc,Japan,150-0043,2.119065e+08,5.981188e+07
2149,5065361111,Sogo Medical Holdings Co Ltd,Japan,810-0001,1.304710e+09,6.584111e+08

# test

In [2]:
import pgeocode

In [16]:
nomi = pgeocode.Nominatim('jp')
nomi.query_postal_code("410-8510")

postal_code       410-8510
country_code           NaN
place_name             NaN
state_name             NaN
state_code             NaN
county_name            NaN
county_code            NaN
community_name         NaN
community_code         NaN
latitude               NaN
longitude              NaN
accuracy               NaN
Name: 0, dtype: object

In [12]:
## <class 'pandas.core.series.Series'>

In [14]:
x = nomi.query_postal_code("177-0052")
ku = x['county_name']
long = x['longitude']
lat = x['latitude']

In [18]:
lat

35.726

## create three new empty columns to data
## take every postal code and do above operation
## append to empty columns

In [7]:
postdf = data[['postal_code']].copy()

In [8]:
postdf

     postal_code
0       231-8528
1       410-8510
2       550-8660
3       511-8555
4       102-8277
...          ...
2145    039-3212
2146    143-0016
2147    105-8575
2148    150-0043
2149    810-0001

[2150 rows x 1 columns]

In [9]:
xx = postdf.to_numpy()

In [10]:
xx

array([['231-8528'],
       ['410-8510'],
       ['550-8660'],
       ...,
       ['105-8575'],
       ['150-0043'],
       ['810-0001']], dtype=object)

In [14]:
n = []
l = []
a = []

nmi = pgeocode.Nominatim('jp')
sr = nmi.query_postal_code('231-8528')
kuu = sr['county_name']
longg = sr['longitude']
latt = sr['latitude']
n.append(kuu)
print("----------ku------")
print(kuu)
l.append(longg)
print("----------long------")
print(longg)
a.append(latt)
print("----------lat------")
print(latt)
print("-----------nla......")
print(n)
print(l)

----------ku------
nan
----------long------
nan
----------lat------
nan
-----------nla......
[nan]
[nan]

In [ ]:
namelonalt()